[submodule "submodules/GLTFUtility"]
	path = submodules/GLTFUtility
	url = https://github.com/birdinforest/GLTFUtility.git
[submodule "submodules/Pcx"]
	path = submodules/Pcx
	url = https://github.com/birdinforest/Pcx.git
[submodule "unity3d_viewer/Submodules/GLTFUtility"]
	path = unity3d_viewer/Submodules/GLTFUtility
	url = https://github.com/birdinforest/GLTFUtility.git
[submodule "unity3d_viewer/Submodules/Pcx"]
	path = unity3d_viewer/Submodules/Pcx
	url = https://github.com/birdinforest/Pcx.git
[submodule "unity3d_viewer/Submodules/UnitySimpleFileBrowser"]
	path = unity3d_viewer/Submodules/UnitySimpleFileBrowser
	url = https://github.com/birdinforest/UnitySimpleFileBrowser.git
